.create .card {
    background-color: white;
    opacity: 1;
    width: 514px;
    height:550px;
    aspect-ratio: 1/1;
    position: fixed;
    top:10%;
    left:15%;
    display: flex;
    flex-direction: column;
    color:var(--font-color);
    border-radius: 10px;
    color:var(--dark-background-color);
}

.create {
    h3 {
        border-bottom: 1px var(--hover-color) solid;
        padding: 15px 0px 10px 0px;
        margin-bottom:0px;
        background-color: var(--dark-background-color);
        color: var(--font-color);
        border-radius: 10px 10px 0px 0px;
    }
    img {
        align-self: center;
    }
    .upload-logo{
        margin-top: 252px;
    }
    .upload-photo {
        object-fit: cover;
    }
    button.share {
        position:absolute;
        top:3%;
        right:3%;
        border:none;
        background-color: var(--dark-background-color);
        color:var(--button-color);
        font-weight: 600;
        font-size: 1rem;
    }
    button.close {
        position:absolute;
        top:3%;
        left:3%;
        border:none;
        background-color: var(--dark-background-color);
        color:var(--button-color);
        font-weight: 600;
        font-size: 1rem;
    }
    .url-link{
        width: 300px;
        height:1.5rem;
        margin:10px;
        outline:none;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: -10px;
        padding:10px;
        img {
            width:24px;
            height:24px;
            border-radius: 50%;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            margin:0px 10px 0px 10px;
            display:inline;
        }
        span {
            display: inline;
    }
    }
    textarea {
        align-self: stretch;
        height:4rem;
        border: none;
        background-color: inherit;
        margin: 10px;
        outline:none;
        color:black;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
        border-radius: 10px;
    }
}



