.explore {
    --feed-width:90vw;
    margin:30px;
    display: flex;
    gap:5px;
    width: var(--feed-width);
    max-width: 950px;
    height: 150vh;
    flex-wrap: wrap;
    justify-content: center;
}

.explore .image-container {
    border: 1px solid var(--line-color);
    width: 30%;
    aspect-ratio: 1/1;
    position: relative;
    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

.image-container .content {
    position: absolute;
    background-color: var(--hover-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    span {
        text-align: center;
        position: inherit;
        top:40%;
        left:5%;
        right:5%;
    }
}

.image-container .content:hover {
    opacity: 1;
}
