#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
  position: relative;
}


header {
  border-right:1px solid #a8a8a838;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 56px;
  gap:30px;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 72px;
  width: 1181px;
  padding-top: 30px;
  position:relative;
  height:100vh;
}

.popup-window {
  position: absolute;
  width: inherit;
  background-color:rgba(0,0,0,0.5);
  left:-56px;
  top: 0px;
  height:100vh;
}
