:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
  font-size: 12px;
  }
  a {
    text-decoration: none;
    color:white;
    font-size: 18px;
  }
  img {
  display: block;
  max-inline-size: 100%;
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-background-color:rgb(18, 18, 18);
  --font-color:rgb(250, 250, 250);
  --button-color:rgb(56, 151, 240);
  --hover-color:rgba(0, 0, 0, 0.5);
  --line-color:rgba(168, 168, 168, 0.355);
}


@media (min-width:1280px){
    header {
        align-items: flex-start;
        width:220px;
        margin-left: 30px;
        span {
            display: inline;
            padding-left: 15px;
        }
        .home + span::after{
            content: 'Home';
        }
        .explore-button + span::after{
        content: 'Explore';
        }
        .create-button + span::after{
        content: 'Create';
        }
        .nav-avatar + span::after{
        content: 'Profile';
        }
        .nav-logo {
            display: none;
        }
        img.nav-full-logo {
            display: block;
        }
    }
    .explore, .profile, .feedpage {
      margin-left: 250px;
    }

}

@media (max-width:768px){
    header {
      background-color: var(--dark-background-color);
      position: fixed;
      flex-direction: row;
      justify-content: space-around;
      height: 56px;
      width: 100vw;
      top:94%;
      z-index: 2;
      min-width: 240px;
      gap:5px;
      border: 1px solid var(--line-color);
      .nav-logo {
            display: none;
        }
      .log-out {
        display: none;
      }
    }
    main {
      margin: 50px 10px;
    }
    .explore, .profile, .feedpage {
      margin: 30px 15px
    }
    .profile .handle {
      .avatar {
        grid-area: 1 / 1 / 3 / 1;
        width: 90px;
        margin:20px;
      }
    }
    .profile .bio {
        grid-area: 3 / 1 / 4 / 3;
        margin:20px
    }
    .mobile-header {
      display: block;
      background-color: var(--dark-background-color);
      height: 50px;
      width: 100vw;
      position: fixed;
      top:0;
      border-bottom: 1px solid var(--line-color);
      img {
        margin-top: -10px
      }
      button {
        position: absolute;
        top: 30%;
        right: 5%;
        cursor: pointer;
      }
      button:hover {
        background-color: var(--line-color);
        border-radius: 5px;
      }
    }
}