:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
  }
  img {
  display: block;
  max-inline-size: 100%;
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-background-color:black;
  --font-color:white;
  --button-color:rgb(56, 151, 240);
  --hover-color:rgb(0,0,0,0.5);
  --line-color:rgba(168, 168, 168, 0.355);
}

@media (prefers-color-scheme: light) {
  
}