.profile {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    align-items: flex-start;
    margin-left: 80px;
    min-width: 240px;
}

.profile .handle {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3,1fr);
    width: 100%;
    height:240px;
    gap:5px;
    position:relative;
    .avatar {
        aspect-ratio: 1/1;
        margin:60px
    }
}

.my-posts {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    gap: 5px;
    border-top:1px var(--line-color) solid;
    padding-top: 30px;
}

.my-post {
    width:30%;
    position: relative;
    img {
        width:100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

.my-post .content {
    position: absolute;
    background-color: var(--hover-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    span {
        text-align: center;
        position: inherit;
        top:40%;
        left:5%;
        right:5%;
    }
}

.my-post .content:hover {
    opacity: 1;
}

.profile .avatar {
    grid-area: 1 / 1 / 4 / 2;
    width: 150px;
    border-radius: 50%;
    padding:5px;
    background: linear-gradient(45deg, #F58529, #D42AFF);
}

.handle div {
    text-align: left;
    padding:5px 20px;
    margin:5px 10px
}

.handle .info {
    display: flex;
    gap:20px;
    font-size: 14px;
    .number {
        font-weight: 800;
        padding:10px;
    }
}

.profile .handle .name {
    font-size: 18px;
    padding-right: 30px;
}

.handle button{
    border-radius: 5px;
    border: none;
    margin:5px;
    padding:5px 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--line-color);
    color: var(--font-color);
    cursor:not-allowed;
}

.handle .edit {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
    position:absolute;
    width:300px;
    aspect-ratio: 1/1;
    z-index: 1;
    top:20%;
    left:30%;
    padding:15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    .buttons {
       display:flex;
       width: inherit;
       justify-content:space-between;
    }
    button {
        color:var(--button-color);
        background-color: white;
    }
    button:hover {
        background-color:var(--button-color);
        color:white;
    }
    input, textarea {
        outline:none;
        width:200px;
        border-radius: 5px;
        background-color: var(--line-color);
        border:none;
        padding:5px 10px;
    }
    textarea {
        height:5rem;
    }
}